{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .profile-container {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    .display-img {
        padding: 1px;
        width: 250px;
        height: auto;
        border: 1px solid #dddddd;
    }

    .account-heading {
        font-size: 2rem;
    }

    .details {
		margin: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
    }

    @media screen and (max-width: 768px) {
        .content-section {
            width: fit-content;
        }
        .profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            column-gap: 0;
        }

        .account-heading {
            font-size: 1.5rem;
        }

        .details {
            border-top: 1px solid #dddddd;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
</style>

<div class="content-section">
    <div class="profile-container">
        <div class="d-flex flex-column">
            <img class="display-img rounded" id="id_display_img" src="{{ user.display_pic.url }}">
        </div>
        <div class="details">
            <div class="d-flex flex-column m-0">
                <h3 class="account-heading">{{ user.username }}</h3>
                {% if user.hide_email %}
                <p class="text-secondary">***************</p>
                {% else %}
                <p class="text-secondary">{{ user.email }}</p>
                {% endif %}
            </div>
            <div class="d-flex flex-column mx-0 mt-4">
                <div class="d-flex flex-row justify-content-between">
                    <small>Email</small>
                    {% if user.hide_email %}
                    <small class="text-secondary">***************</small>
                    {% else %}
                    <small class="text-secondary">{{ user.email }}</small>
                    {% endif %}
                </div>
                <div class="d-flex flex-row justify-content-between">
                    {% if user.name %}
                    <small>Name</small>
                    <small class="text-secondary">{{ user.name }}</small>
                    {% endif %}
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <small>username</small>
                    <small class="text-secondary">{{ user.username }}</small>
                </div>
            </div>
        </div>
    </div>
    {% if is_self %}
    <div class="form-group border-top mt-4">
        <a class="btn btn-outline-info mt-2" href="{% url 'account:account-update' %}">Update Profile</a>
        <a class="btn btn-outline-danger mt-2" href="{% url 'account:password-change' %}">Change Password</a>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block sidebar_extension%}

{% if is_self %}
<div class="content-section mt-2">
    <div class="d-flex flex-column">
        <a href="{% url 'accountProfile:get-blogs' %}" class="btn btn-primary mt-2">Blogs</a>
        <a href="{% url 'accountProfile:get-saved-blogs' saved=True %}" class="btn btn-primary mt-2">Saved Blogs</a>
        <a href="{% url 'accountProfile:get-followers' %}" class="btn btn-primary mt-2">Followed By</a>
        <a href="{% url 'accountProfile:get-following' %}" class="btn btn-primary mt-2">Following</a>
    </div>
</div>
{% else %}
<div class="content-section mt-2">
    {% include 'account/snippets/follow_chunk.html' %}
</div>
{% endif %}

{% if is_self %}
<div class="content-section mt-2">
    <p class="m-0 pb-2 border-bottom">Account Options</p>
    <div class="d-flex flex-column">
        <a href="{% url 'account:account-deactivate' %}" class="btn btn-danger mt-2">Deactivate</a>
        <a href="{% url 'account:account-delete' %}" class="btn btn-danger mt-2">Delete</a>
    </div>
</div>
{% endif %}
{% endblock sidebar_extension%}