<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Base</title>
</head>
<body>

    {% include 'snippets/navbar.html' %}

    <div class="d-flex flex-column pt-2 px-4 mx-auto">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} my-1 mx-auto">
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}

        {% block message %}{% endblock message %}
    </div>
    
    <main>
        {% block content %}{% endblock content %}
        <div class="sidebar">
            <div class="content-section">
                <p class="m-0 pb-2 border-bottom">Themes</p>
                <div class="mt-2 p-0">
                    <button class="btn mx-1 theme-picker theme-picker-light"></button>
                    <button class="btn mx-1 theme-picker theme-picker-dark"></button>
                </div>
            </div>
            {% block sidebar_extension%}{% endblock sidebar_extension%}
        </div>
    </main>

    <script>
        function setTheme() {
            const theme = localStorage.getItem("theme-mode")
            if (theme !== null) {
                if (theme === 'dark') {
                    document.getElementById("toggle-theme").innerText = "Light Mode"
                    document.body.setAttribute('data-theme', 'dark')
                }
            }
        }
        setTheme()

        document.getElementsByClassName('theme-picker-light')[0].addEventListener('click', () => {
            localStorage.removeItem("theme-mode")
            window.location.reload()
        })

        document.getElementsByClassName('theme-picker-dark')[0].addEventListener('click', () => {
            localStorage.setItem("theme-mode", "dark")
            window.location.reload() 
        })

        // function getToken(name) {
        //     var cookieValue = null;
        //     if (document.cookie && document.cookie !== '') {
        //         var cookies = document.cookie.split(';');
        //         for (var i = 0; i < cookies.length; i++) {
        //             var cookie = cookies[i].trim();
        //             // Does this cookie string begin with the name we want?
        //             if (cookie.substring(0, name.length + 1) === (name + '=')) {
        //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        //                 break;
        //             }
        //         }
        //     }
        //     return cookieValue;
        // }
        // const csrf_token = getToken('csrftoken')
    </script>
    
    <script src="https://unpkg.com/htmx.org@1.7.0"
        integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"
        defer>
    </script>
</body>
</html>